<!--<app-page-header [heading]="'Contest Standing'" [icon]="'fa-list-ol'"></app-page-header>-->
<ng-template #modalTemplate let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{modalParam.Title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <p>{{modalParam.Message}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div *ngIf="contestStanding" class="card mb-3">
            <div class="card-header" (dblclick)="boardFullScreen()">
                <div class="row">
                    <div class="col-xl-6">
                        {{ contestStanding?.StandingsHeader.CurrentDate }}
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group pull-right">
                            <input type="text" class="form-control" placeholder="What you looking for?" [(ngModel)]="searchText" [ngbTypeahead]="search"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="slideshow card-block table-responsive" #rankBoard>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Who</th>
                            <th>=</th>
                            <th>Penalty</th>
                            <th *ngFor="let p of contestStanding.StandingsHeader.Problems">
                                {{p.ID}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let t of contestStanding.TeamStandings | namefilter:searchText">
                            <th scope="row">{{t.Rank}}</th>
                            <td>
                                <!--<div ngbPopover="{{popoverText(t)}}" triggers="mouseenter:mouseleave">-->
                                <span [style]="spanStyle(t.Rank)">
                                        {{t.TeamName}} | {{t.School }}
                                    </span>
                                <!--</div>-->
                            </td>
                            <td>{{t.Solved}}</td>
                            <td>{{t.Points}}</td>
                            <td *ngFor="let p of t.ProblemSummaryInfos">
                                <ng-container *ngIf="p.IsSolved">
                                    <span class="badge badge-success">
                                        +<ng-container *ngIf="p.Attempts != 0">{{p.Attempts}}</ng-container>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="p.IsPending">
                                    <span class="badge badge-warning">--</span>
                                </ng-container>
                                <ng-container *ngIf="!p.IsSolved && !p.IsPending && p.Attempts != 0">
                                    <span class="badge badge-danger">-{{p.Attempts}}</span>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>