<app-page-header [heading]="'Ballon Status List'" [icon]="'fa-list-ol'"></app-page-header>
<div class="row">
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle>
                Unmarked Ballon List
            </ng-template>
            <ng-template ngbTabContent>
                <div class="card-block">
                    <p *ngFor="let bs of unmarkedList">
                        <ngb-alert type="success" (close)="mark(bs)">{{ bs.TeamName }} 队通过了题目 {{ bs.ProblemIndex }}，座位号 {{bs.SeatID}} </ngb-alert>
                    </p>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>
                Marked Ballon List
            </ng-template>
            <ng-template ngbTabContent>
                <div class="card-block">
                    <p *ngFor="let bs of markedList">
                        <ngb-alert [dismissible]="false" type="info" (close)="mark(bs)">{{ bs.TeamName }} 队通过了题目 {{ bs.ProblemIndex }}，座位号 {{bs.SeatID}}</ngb-alert>
                    </p>
                </div>
            </ng-template>
            <ng-template ngbTabTitle>Upload User List</ng-template>
            <ng-template ngbTabContent>
                <div class="card-block">
                    <fieldset [attr.disabled]="isUploading ? '' : null">
                        <ngb-alert [dismissible]="false" [type]="uploadAlert.type">{{uploadAlert.message}}</ngb-alert>
                        <div class="form-group row">
                            <input type="file" (change)="fileChange($event)" placeholder="Upload user.csv" class="form-control-file">
                        </div>
                    </fieldset>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>